$accent-brown: #ddd48f;
$brown: #704012;
#myModal{
	text-align: center;
	width:40%;
	height:40%;
	position: fixed;
    right:30%;
    top:20%;
    z-index: 1000;
    display: none;
    overflow: hidden;
    background-color: $accent-brown;
    box-shadow: 0 0 40px black;
    overflow:scroll;
    //animation-name: test;
    //animation-duration: 0.2s;
    #modalHead{
		margin-top:50px;
		font-size:4em;
		color:$brown;
			
}
	
}
#blur{
	width:100%;
	height:100%;
	z-index: 2;
	background-color: black;
	top:0;
	display:none;
	position:fixed;
	opacity:0.5;
}

#label{
	color:$brown;
	font-size: 4em;
}
#emailInput{
	font-size:3em;
	color:$brown;
	height:40%;
	width:40%;
}

#openModal{
	margin-left:42%;
	font-size:2em;
	width:17%;
	height:8%;
}
button{
		background-color:$accent-brown;
		border-radius:50px;
}
#close{
	width:5%;
	height:10%;
	right:0;
	position:absolute;
	top:0;
}
#contactInfo{
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
}
.info{
	margin-top:0;
	margin-bottom:3%;
	text-align:center;
	font-size:3em;
	border-bottom-style:solid;
	width:30%;
	margin-left:35%;

}
#headInfo{
	font-size:7em;
}
