#nav{
	background-color: #4a7337;
	height:10%;
	border-bottom-style:solid;
	ul{
		list-style:none;
		display:inline-block;
		margin:0;
		padding:0;
		float:right;
		word-spacing:5%;
		text-decoration: none;
		color:#FFFFFF;
		li{
			margin-top:0;
			font-size: 3em;
			color:#FFFFFF;
			display:inline;
			padding-left:10px;
			a{
				text-decoration: none;
			}
		}
	}
}

a:visited{
	color:#FFFFFF;
	text-decoration:none;
}
a:hover{
	color:#ddd48f;
}