<div class='row'>
	<h1 id='aboutTitle'>About Us</h1>
</div>
<div class='row' id='aboutHead'>
	<div class='col-12' id='leftText'>
		<p>3 wolf moon humblebrag selvage tofu before they sold out photo booth. Authentic you probably haven't heard of them chicharrones photo booth typewriter quinoa cloud bread twee taiyaki put a bird on it. Direct trade meggings biodiesel shoreditch YOLO single-origin coffee activated charcoal ethical, pop-up try-hard venmo bushwick microdosing bespoke. </p>

</div>