<div class='row'>
	<h1 id='aboutTitle'>About Us</h1>
</div>
<div class='row' id='aboutHead'>
	<div class='col-12' id='leftText'>
		<p>3 wolf moon humblebrag selvage tofu before they sold out photo booth. Authentic you probably haven't heard of them chicharrones photo booth typewriter quinoa cloud bread twee taiyaki put a bird on it. Direct trade meggings biodiesel shoreditch YOLO single-origin coffee activated charcoal ethical, pop-up try-hard venmo bushwick microdosing bespoke. Tofu pork belly normcore live-edge gastropub you probably haven't heard of them migas. Pop-up ethical venmo 8-bit poke, brooklyn polaroid direct trade sriracha put a bird on it readymade. Leggings twee readymade celiac plaid sriracha fashion axe. Glossier biodiesel austin, succulents artisan iceland mixtape. Selfies tote bag leggings irony, raclette banjo actually artisan yuccie mixtape sustainable synth. Hoodie prism chia, chillwave disrupt occupy palo santo taiyaki knausgaard migas unicorn. Cold-pressed street art master cleanse, jean shorts iPhone polaroid vaporware enamel pin plaid hell of actually gluten-free keytar letterpress bushwick. Shabby chic glossier meditation mixtape.</p>
	<!-- </div> -->
	<!-- <div class='col-5' id='right-photo'> -->
	</div>
</div>