<div class='row'>
	<h1 class='info' id='headInfo'>Find us</h1>
</div>
<div class='row' id='contactInfo'>
	<h5 class='info'>Phone: +1 636-545-2343</h5>
	<h5 class='info'>Address: 550 Bowie Street<br>Austin, TX 78703-4644</h5>
	<h5 class='info'>Hours: 24 Hours<br>We never close!</h5>
</div>





<button id='openModal'>Sign up for our newsletter!</button>
<container id='blur'></container>
	<div id="myModal">
		<container id="modalContent">
			<h3 id="modalHead">Sign up for all things avocado!</h3>
			<img id='close' src="Images/icons8-delete_sign.png">
			<form method='POST' action='/contact'>
				<label id='label'>Email:</label>
				<input type='text' name='email' id='emailInput'>
			</form>
		</container>
		</div>
	</div>