





<button id='openModal'>Open for email</button>
<container id='blur'></container>
	<div id="myModal">
		<container id="modalContent">
			<h3 id="modalHead">Sign up for all things avocado!</h3>
			<form method='POST' action='/contact'>
				<label>Email:</label>
				<input type='text' name='email' id='email'>
			</form>
		</container>
		</div>
	</div>