
	<div class='row' id='img'>
		<div id='text'>
			<h1>Welcome to Avacado Land!</h1>
		</div>
	</div>
	<div class = 'row' id='info1'>
		<div class='col-5' id='left-photo'>
		</div>
		<div class='col-7' id='right-text'>
			<p>Avacado Land is the second happiest place on earth! Create lifelong memories with the whole family at the worlds only avocado themed amusement park. Enjoy over 100 avo-tastic attractions and restaurants!</p>
		</div>
	</div>