<div class='row'>
	<h1 id='contactHead'>Admission</h1>
	<br>
	<!-- <img id ='avoField' src="<%= url('Images/avo-field.JPG') %>"> -->
</div>
<div class='row admission'>
	<h4 class='price'>Single Day Admission</h4>
	<h4 class='price'>Adults: $200</h4>
	<h4 class='price'>Children: $100</h4>
	<h4 class='price'>Infants: No</h4>
</div>
<div class='row passes'>
	<h4 class='price'>If you'd like to enjoy our park throughouth the summmer, we offer great passes!</h4>
	<h4 class='price'>Adult Pass: $1,000</h4>
	<h4 class='price'>Child Pass: $500</h4>
	<h4 class='price'>Infants: Still No</h4>
</div>
<br>